.App {
  text-align: center;
  padding: 20px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin-right: -18px;
  margin-bottom: -18px;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: #dceded;
  border-radius: 5px;
  width: calc(20% - 18px);
  margin-right: 18px;
  margin-bottom: 18px;
}

.post__index {
  padding: 10px;
}

.post__title {
  font-size: 12px;
  padding: 0 10px;
  margin: 0;
}

.post__body {
  font-size: 12px;
  padding: 0 10px;
}

.select{
  font-weight: bold;
}

.page-item{
  list-style: none;
  margin-right: 10px;
  transition: all .2s linear;
}

.page-item:hover{
  background-color: #f1f7f7;
}

.page-link{
  text-decoration: none;
  color: #000;
}

.page-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.active{
  font-weight: bold;
}

.loading{
  text-align: center;
}

@media screen and (max-width: 1340px) {
  .post {
    width: calc(25% - 18px);
  }
}

@media screen and (max-width: 1080px) {
  .post {
    width: calc(33.33% - 18px);
  }
}

@media screen and (max-width: 768px) {
  .post {
    width: calc(50% - 18px);
  }
}

@media screen and (max-width: 480px) {
  .post {
    width: calc(100% - 18px);
  }
}

